<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="mm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="55.9" />
      <inertia
        ixx="0.611701132100641"
        ixy="6.84876194160263E-07"
        ixz="-0.000344054161247601"
        iyy="1.25166081836814"
        iyz="-4.19098316162667E-08"
        izz="1.76153613752974" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mm/meshes/tt_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mm/meshes/tt_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_right_wheel">
    <inertial>
      <origin
        xyz="-0.0041818 -1.3878E-17 6.9389E-18"
        rpy="0 0 0" />
      <mass
        value="1.9718" />
      <inertia
        ixx="0.007775"
        ixy="-6.9287E-19"
        ixz="-1.4895E-17"
        iyy="0.0044318"
        iyz="5.8396E-19"
        izz="0.0044318" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mm/meshes/tt_link_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mm/meshes/tt_link_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint"
    type="fixed">
    <origin
      xyz="-0.00028002 -0.22127 0.057999"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="link_right_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link_left_wheel">
    <inertial>
      <origin
        xyz="-0.0041818 6.9389E-18 2.941E-17"
        rpy="0 0 0" />
      <mass
        value="1.9718" />
      <inertia
        ixx="0.007775"
        ixy="7.4266E-19"
        ixz="-8.9406E-18"
        iyy="0.0044318"
        iyz="5.3381E-19"
        izz="0.0044318" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mm/meshes/tt_link_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mm/meshes/tt_link_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint"
    type="fixed">
    <origin
      xyz="0 0.221 0.058"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="link_left_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>